@{
    ViewData["Title"] = "Categorie";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}

<h1>@ViewData["Title"]?.ToString()</h1>

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <b>Success: </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error: </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="" asp-action="AddCategory"><i class="fa-solid fa-plus"></i> Categoria </a>
    </div>
}

<hr>

<div class="container">
    <div class="card" style="width:400px">
        <a href="#">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Categoria 2</h4>
                <p class="card-text">Some example text some example text</p>
                @if (User.IsInRole("Admin"))
                {
                    <form method="post">
                        <a asp-action="EditCategory" asp-area="" asp-controller="" asp-route-id="" class="btn btn-outline-primary btn-sm" title="edit"><i class="fa-solid fa-pen"></i></a>
                        <a asp-action="DeleteCategory" asp-area="" asp-controller="" asp-route-id="" class="btn btn-outline-danger btn-sm" type="submit" title="delete" onclick="return confirm('Are you sure you want remove category: "><i class="fa-solid fa-trash"></i></a>
                    </form>
                }
            </div>
        </a>
    </div>
</div>