@{
    ViewData["Title"] = "Categorie";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}

<h1>@ViewData["Title"]?.ToString()</h1>


