@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Subscription"><i class="fa-solid fa-plus"></i> Pacchetti Abbonamento</a>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Customization"><i class="fa-solid fa-plus"></i> Personalizzazione Targhetta </a>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Category"><i class="fa-solid fa-plus"></i> Categorie </a>
</div>